@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #F84565;
  --color-primary-dull: #D63854;
}

body {
  font-family: "Outfit", sans-serif;
  color: white;
  background-color: #09090B;
  scrollbar-width: thin;
  scrollbar-color: #000000 #1e1e1e;
}

.no-scrollbar {
  scroolbar-width: none;
}

input::-webkit-outer-spin-button input::-webkit-innet-spin-button {
  -webkit-appearance: none;

}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}